<html>
<head>
    <title>Добавление</title>
</head>
<body>
    <div class="brd">
        <form action="~/Person/AddNewPerson" method="post">
            <label>Имя</label><br />
            <input type="text" name="firstName"/><br />
            <label>Фамилия</label><br />
            <input type="text" name="lastName"/><br />
            <label>Отчество</label><br />
            <input type="text" name="middleName"/><br />
            <label>Номер телефона</label><br />
            <input type="tel" name="phoneNumber"/><br />
            <label>Адрес</label><br />
            <input type="text" name="address"/><br />
            <label>Заметка</label><br />
            <input type="text" name="description"/><br />
            <p><input type="submit" value="Отправить"/></p>
        </form>
    </div>
    <hr />
</body>
</html>
